<div id="own_source">
	<h1>Add your own source and choose the category they should belong to:</h1>
	<!--Display an error message if a rss feed cannot be found -->
	<% if flash[:notice] %>
		<h2><%= flash[:notice]%></h2>
	<%end%>
	<%= render :partial => "form" %>
</div>


