<div id="feed">
	<% if @current_user.sources[0] == nil %>
		<div id="no_feed">
			<h1>You're not following anything, you should add some sources to your newsfeed.</h1>
			<a href='/topics'>Add sources</a>
		</div>
	<%else%>
		<h1>YOUR NEWSFEED </h1>
		<h3>Latest articles:</h3>

		<div id="newsfeed_home">
			<% @current_user.sources.each do |s|
				sloppy_url = s.url
				rss = Feedbag.find(sloppy_url).first
				if rss.present?
					feeds = Feedjira::Feed.fetch_and_parse(rss)
					@response = HTTParty.get (rss) %>

				<div id="newsfeed_home_source">
					<h2><%= s.name %></h2>
					<% if @response["rss"]["channel"] %>
						<% if @response["rss"]["channel"]["item"] %>
							<a href='/sources/<%= s[:id] %>'><h4><%== @response["rss"]["channel"]["item"][0]["title"] %></h4></a>
						<%end%>
					<%end%>
				</div>
				<% end %>
			<%end%>
			<hr>
		</div>
	<%end%>

	<h4>Recommended for you</h4>

<!--Form for search through sources -->
	<%#= form_tag '/search', :method => "get" do %>
        <%#= text_field_tag 'query', nil, :placeholder => 'your search term' %>
        <%#= submit_tag 'Search' %>
    <%# end %>

</div>
