<div id="homepage">
	<h1>. WELCOME .</h1>
	<h2>Discover ReadR, your new favorite newsfeed</h2>
	<div id="box">
		<p class="icon"><i class="fa fa-user"></i><br>Create an account</p>
		<p class="icon"><i class="fa fa-bookmark"></i><br>Follow some sources</p>
		<p class="icon"><i class="fa fa-thumbs-up"></i><br>You're good to go!</p>
	</div>
</div>

