@media(max-width: 1024px){
	#box p.icon{
		display: inline-block;
		max-width: 30%;
		margin: 0 1%;
		vertical-align: top;
	}

	body{
	 	margin: 0;
	 	background-image: url('city-background.jpg');
	 	font-family: "Lato", sans-serif;
	 	height: 100%;
	 	background-size: cover;
	 	background-repeat: none;
	 	background-position: absolute;
 	}

}